# fly.toml app configuration file generated for nyc-taxi-api on 2025-12-16T17:48:27+05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'nyc-taxi-api'
primary_region = 'iad'

[build]
  dockerfile = 'backend/Dockerfile'

[env]
  PORT = '8080'
  PYTHONUNBUFFERED = '1'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 100
    soft_limit = 80

  [[http_service.checks]]
    interval = '15s'
    timeout = '10s'
    grace_period = '30s'
    method = 'GET'
    path = '/'

[[vm]]
  memory = '16gb'
  cpu_kind = 'performance'
  cpus = 2
